
/* news section */
#news{
    z-index: -1;
    background-image: url("./../image/plBg2.jpg");
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    width:100%;
    /* height: 98vh; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Header item at the top */
   /* overflow: hidden;*/ /* Hide vertical overflow */
}


.container{
    /* display: grid; */
    /* justify-content: center; */
    grid-gap: 8% 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container::-webkit-scrollbar {
    width: 0px; /* Set the width to zero */
    background: transparent; /* Make the scrollbar transparent */
}

.header-item{
    margin-top: 2rem;
    width: 820px;
    /* position: relative; */
    color: white;
    grid-column: span 3;
    background-color:#38003c;
    border: 2px solid white;
}
.header-item-img img{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.358);
    float: left;
    vertical-align: top;
    width:260px;
    height: 260px;
    transition: 0.4S;
}
.header-item-content h1{
    color: #00ff85;
    padding: 10px 10px 0 270px;
}
.header-item-content p{
    padding: 10px 10px 10px 270px;
}



.items-container {
    display: flex;
    flex-wrap: wrap; /* Prevent items from wrapping */
    margin-top: 20px; /* Adjust spacing between header and items */
    margin-bottom: 20px; /* Adjust spacing between items and bottom */
    gap: 10px;
    justify-content: center;
}


.item{
    width: 250px;
    height: 250px;
    border: 2px solid white;

    margin-right: 10px; /* Adjust margin between items */
}

.item-img img{
    position: relative;
    vertical-align: top;
    width:250px;
    height: 250px;
    filter: grayscale(50%);
    transition: all 0.4s ;
}

.item-img:hover img{
    filter: none;
}


.item-content{
    opacity: 0;
    transform: translateY(-80px);
    width: 95.2%;
    padding: 2.5%;
    transition: 0.4s;
    background-color: #e90052d3;
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.459);
}

.item-content h2{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px 0 0 0;
}
.news-paragraph{
    visibility: hidden;
}

.item-content input{
    font-family: 'Poppins', sans-serif;
    background-color: #00ff85;
    border: none;
    width: 75%;
    margin: 10px 0 10px 12%;
    padding: 5px;
    transition: 0.2s;
}

.item-content input:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0 #00ff84ca;
}

.item-img:hover .item-content{
    opacity: 1;
    transform: translateY(-87px);
}



.last .item-content input{
    margin: 10px 0 10px 12%;
    padding: 5px;
    transition: 0.2s;
    visibility: visible;
    opacity: 1;
    background-color: #00ff85;
    border: none;
    width: 75%;
    cursor: pointer;
    box-shadow: 0 0 10px 0 #00ff84ca;
    border-radius: 8px;
}
/* remove its background also i don't want it is have it */
.last .item-content{
    background-color: transparent;
    box-shadow: none;
}
/* make its font size bigger */
.last .item-content input{
    font-size: 25px;
}
/* make its filter to blur */
.last .item-img img{
    filter: blur(3px);
}



@media screen and (max-width: 500px) {


    /* news section */
    #news{
        height: fit-content;
    }


    .container{
        display: flex;
    }


    .header-item{
        margin:2rem 0 0 0;
        width: 320px;
    }

    .header-item-img img{
        padding-bottom: 15px;
        width:320px;
        height:fit-content;
    }

    .header-item-content h1{
        text-align: center;
        padding: 10px;
    }
    .header-item-content p{
        text-align: center;
        padding: 0 10px 8px 12px;
    }
    
    .item{
        margin: 20px 0;    
    }


    .item{
        width: 150px;
        height: 150px;
        border: 2px solid white;
    
        margin-right: 8px; /* Adjust margin between items */
    }
    
    .item-img img{
        position: relative;
        vertical-align: top;
        width:150px;
        height: 150px;
        filter: grayscale(50%);
        transition: all 0.4s ;
    }

    
    .item-content{
        opacity: 0;
        /* transform: translateY(-80px); */
        width: 95.2%;
        padding: 2.5%;
        transition: 0.4s;
        background-color: #e90052d3;
        box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.459);
    }
    .item-img:hover .item-content{
        transform: translateY(-65px);
    }
    
    .item-content h2{
        color: white;
        text-align: center;
        font-size: 12px;
        padding: 5px 0 0 0;
    }
    .news-paragraph{
        visibility: hidden;
    }
    
    .item-content input{
        font-family: 'Poppins', sans-serif;
        background-color: #00ff85;
        border: none;
        width: 75%;
        margin: 5px 0 5px 12%;
        padding: 5px;
        transition: 0.2s;
        font-size: 10px;
    }
    .items-container{
        width: 400px;
    }
}