
h1{
    text-align: center;
    text-shadow: #5df1e0 2px -1px 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 3px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
    font-weight: 800;
}

/* .action-buttons {
    margin-top: 20px;
}
.action-buttons button {
    margin-right: 10px;
    color: midnightblue;
    font-size: 16px;
    background-color: greenyellow;
    border-radius: 6px;
    cursor: pointer;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0 ;
    padding: 0;
    /* display: flex; 
    justify-content: center;
    align-items: center;*/
    /* height: 100vh; */
    background-color: #f4f4f4;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.form-container {
    /* max-width: 600px; */
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.form-container h2 {
    margin-top: 30px;
    margin-bottom: 3px;
    text-shadow: #d4ee3e 4px -3px 2px ;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
}

.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-container textarea{
    height: 100px;
}

.form-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}


/* Style for file input */
.form-container input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    background-color: #fff; /* Background color same as other input fields */
    color: #007bff; /* Text color */
}

/* Style for file input hover state */
.form-container input[type="file"]:hover {
    background-color: #f2f2f2; /* Lighter background color on hover */
}