
/* fixture section */
#fixture{
    /* width:100%; */
    background-color: #e90052;
}

.fixture-title{
    padding: 25px 0;
    text-align: center;
    color: #38003c;
    font-size: 30px;
}

.card-container{
    border: #e90052 3px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: center;
    align-items: center;
    align-content: center; */
    gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}

.card{
    margin: 5px 0;
    /* padding: 5px; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.381);
    border-radius: 80px;
    background-color: #f2f2f2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width:40%;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.02);
}

.card img{
    height: 50px;
}

.left-team,.right-team{
    width: fit-content;
    padding: 20px;
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.right-team p, .left-team p{
    color: #38003c;
    font-weight: bold;
    padding: 5px;
}

.middle-content{
    font-weight: bold;
    padding: 5px;
    color: #38003c;
    text-align: center;
}

.middle-content-date{
    color: #e90052;
    text-align: center;
}

.right-team{
    flex-direction: row-reverse;
}

/* .right-team p{
    color: #38003c;
    font-weight: bold;
    padding: 8px;
} */
@media screen and (max-width: 1000px) {
    .left-team,.right-team{
        padding: 16px;
    }
    .left-team p, .right-team p{
        font-size: 14px;
        font-weight: bold;
    }
    
    .middle-content{
        font-size: 12px;
    }
    .card img{
        width: 25px;
        /* height: 30px; */
        height: fit-content;
    }
}
@media screen and (max-width: 870px) {
    .left-team,.right-team{
        padding: 12px;
    }
    .left-team p, .right-team p{
        font-size: 11px;
        font-weight: bold;
    }
    
    .middle-content{
        font-size: 10px;
    }
    .card img{
        width: 20px;
        /* height: 30px; */
        height: fit-content;
    }
    .card-container{
        gap: 40px;
    }
}
@media screen and (max-width: 730px) {
    .card-container{
        gap: 30px;
    }
    .left-team,.right-team{
        padding: 8px;
    }
    .left-team p, .right-team p{
        font-size: 10px;
        font-weight: bold;
    }
    
    .middle-content{
        font-size: 9px;
    }
    .card img{
        width: 17px;
        /* height: 30px; */
        height: fit-content;
    }
}
@media screen and (max-width: 656px) {
    .left-team,.right-team{
        padding: 4px;
    }
    .card-container{
        gap: 20px;
    }
}
@media screen and (max-width: 556px) {
    .card-container{
        gap: 10px;
    }
    .left-team,.right-team{
        padding: 4px;
    }
    .left-team p ,.right-team p{
        font-size: 9;
    }
    .middle-content{
        font-size: 7px;
    }
    .card img{
        width: 14px;
        height: fit-content;
    }
}
@media screen and (max-width: 500px) {
    
    .fixture-title{
        padding: 10px 0;
        font-size: 18px;
    }
    
    .card-container{
        width: 90%;
        gap: 20px;
        margin-left: 16px;
        display: flex;
        flex-direction:column;
    }
    
    
    .card{
        margin:unset;
        padding: unset;
    }
    
    .card img{
        /* width: 30px;
        height: 30px; */
        width: 18px;
        /* height: 25px; */
        height: fit-content;
    }
    
    .left-team,.right-team{
        width: fit-content;
        padding: 8px;
    }
    
    .left-team p{
        font-weight: bold;
        padding: 8px;
        font-size: 13px;
    }
    
    .middle-content{
        padding: 5px;
        font-size: 10px;
    }
    
    .right-team p{
        font-weight: bold;
        padding: 8px;
        font-size: 13px;
    }

}