/* header */
header{

    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.733);
    background-image:  url("../image/pinkBackground.png") ;
    background-repeat: no-repeat;
    background-size:  100% ;
    height: 90px;
}

header img{
    position:absolute;
    top:-15px;
    left: 50px;
    width: 180px;
}

header h1{
    font-family: 'Poppins', sans-serif;
    color: #38003c;
    padding: 25px 30%;
}

@media screen and (max-width: 850px) {
    header h1{
        display: none;
    }
}

@media screen and (max-width: 500px) {
        header img{
            position:absolute;
            top:-15px;
            left: 0px;
        }
        header h1{
            display: none;
        }
}