    * {
        font-weight: 100;
        color: var(--color-light);
    }
    
    .login {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        gap: 1rem;
    }
    
    .login-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .login-header .logo {
        display: block;
        width: 4rem;
        margin-bottom: 1.5rem;
    }
    
    form {
        width: 320px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border: 1px solid #21262d;
        border-radius: 0.375rem;
        padding: 1rem;
        background-color: #161b22;
    }
    
    form label {
        font-size: 0.9rem;
    }
    
    form input {
        border: 1px solid #21262d;
        border-radius: 0.375rem;
        background-color: var(--color-bg-main);
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    form .btn-signin {
        color: white;
        background-color: #238636;
    }
    
    form .btn-signin:hover {
        background-color: #2ea043;
        cursor: pointer;
    }
    
    .login-register {
        width: 320px;
        text-align: center;
        border: 1px solid #21262d;
        border-radius: 0.375rem;
        padding: 1rem;
    }
    
    .login-register a {
        color: #1770f0;
    }
    
    .login-register a:hover {
        color: #1770f0 !important;
        text-decoration: underline;
    }
    
    ::placeholder {
        color: var(--color-light);
    }
    
    @media screen and (max-width: 1024px) {
        .login {
        justify-content: center;
        }
    }
    
    @media screen and (max-width: 600px) {
        .login {
        padding: 1rem;
        }
        form {
        width: 100%;
        }
        .login-register {
        width: 100%;
        }
    }
    